.contactContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 2rem;
  background-image: url("/bg-pattern-contact-2.svg");
  background-repeat: no-repeat;
  background-position: bottom -100px right -100px;
}
.contactContainer h1 {
  font-size: 40px;
}
.contactContainer h2 {
  font-size: 32px;
}
.askCard {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: left;
  gap: 1rem;
}
.askCard p {
  font-size: 18px;
}

.accent {
  color: var(--clr-accent);
}

@media (min-width: 600px) {
  .contactContainer {
    background-image: url("/bg-pattern-contact-2.svg"),
      url("/bg-pattern-about-2-contact-1.svg");
    background-position: bottom -100px right -100px, top left -100px;
    padding: 2rem 6rem;
  }
  .contactContainer h1 {
    font-size: 64px;
    margin-top: 0;
  }
}
@media (min-width: 800px) {
  .contactContainer {
    flex-direction: row;
    padding: 2rem 3rem;
    text-align: left;
  }
  .contactLeft {
    padding: 2rem 2rem;
  }
  .contactContainer div {
    flex: 1;
    align-items: center;
  }
}
@media (min-width: 1100px) {
  .contactContainer {
    padding: 2rem 7rem;
  }
}
