.section_find {
  color: white;
  text-align: center;
  background-image: url(/bg-pattern-home-2.svg);
  background-repeat: no-repeat;
  height: 27rem;
  background-position: bottom;
  padding-inline: 3rem;
}
.findContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.findHeader {
  font-size: 40px;
  margin: 0;
  line-height: 1;
  margin-block: 1rem;
}
.findText {
  font-size: 15px;
  margin: 0;
  line-height: 2;
}

.section_build {
  background-color: var(--clr-bg-dark);
  background-image: url("/bg-pattern-home-3.svg");
  background-repeat: no-repeat;
  background-position: top right -100px;
  padding: 5rem 1.5rem;
}

.buildHeader {
  margin: 0;
  max-width: 245px;
  color: white;
  font-size: 32px;
  line-height: 1;
  position: relative;
}
.buildHeader::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--clr-accent);
  display: block;
  position: absolute;
  top: -30px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  gap: 2rem;
  margin-top: 4rem;
  align-items: center;
}
.buildCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buildCard img {
  height: 72px;
  width: 72px;
  object-fit: contain;
}

.section_social {
  text-align: center;
  color: white;
  background-color: var(--clr-bg-social);
  background-image: url("/bg-pattern-home-4-about-3.svg"),
    url("/bg-pattern-home-5.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  padding: 8rem 1.5rem 9rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.socialHeader {
  font-size: 32px;
  margin: 0;
  line-height: 1;
}

.socialCardContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.socialCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/icon-quotes.svg");
  background-repeat: no-repeat;
  background-position: center top;

  padding-top: 1rem;
}
.socialCard p {
  font-size: 15px;
  line-height: 1.8;
}
.socialCard h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}
.socialCard small {
  font-style: italic;
  margin-bottom: 1rem;
}

.socialAvatar {
  border-radius: 50%;
  height: 62px;
  width: 62px;
  border: 2px solid white;
}





.active {
  color: var(--clr-accent);
}
.accent {
  color: var(--clr-accent);
}
.clrLightGreen {
  color: var(--clr-line);
}

@media (min-width: 600px) {
  .section_find {
    height: 30rem;
  }
  .findHeader {
    font-size: 64px;
    padding-inline: 5rem;
  }
  .section_build {
    padding: 8rem 6rem;
  }
  .buildHeader {
    max-width: 530px;
  }
  .buildCard {
    flex-direction: row;
    gap: 1rem;
  }
  .buildTextContent {
    text-align: left;
  }
  .section_social {
    padding: 6rem 6rem;
  }


}
@media (min-width: 800px) {
  .section_find {
    background-position: bottom right;
    padding: 0;
  }
  .findContent {
    display: flex;
    flex-direction: row;
    background-image: url(/bg-pattern-home-1.svg);
    background-repeat: no-repeat;
    background-position: left -100px top 56px;
    align-items: center;
    padding-inline: 2rem;
  }
  .findHeader {
    font-size: 82px;
    margin-left: 1rem;
    padding: 2rem;
    flex: 1;
    text-align: left;
  }
  .findText {
    flex: 1;
    text-align: left;
    font-size: 17px;
    line-height: 1.5;
    margin-left: 3rem;
  }
  .section_build {
    display: flex;
    background-position: bottom right -100px;
    padding: 3rem;
    align-items: center;
  }
  .buildHeader {
    font-size: 40px;
    flex: 1;
    min-width: 200px;
    margin-right: 5rem;
    margin-bottom: 6rem;
  }
  .cardContainer {
    flex: 1;
    padding-left: 2rem;
  }

  .section_social {
    padding: 8rem 3rem;
  }
  .socialHeader {
    font-size: 40px;
    padding-inline: 5rem;
  }
  .socialCardContainer {
    flex-direction: row;
  }

}

@media (min-width: 1100px) {
  .findHeader {
    font-size: 100px;
    padding: 0;
    margin-right: 5rem;
  }
  .section_find {
    background-position: bottom right 205px;
    height: 27rem;
  }
  .findContent {
    padding-inline: 7rem;
    background-position: left -100px top;
  }
  .findText {
    font-size: 18px;
    position: relative;
  }
  .findText::before {
    content: "";
    height: 4px;
    width: 50px;
    background-color: var(--clr-line);
    display: block;
    position: absolute;
    top: -50px;
  }

  .section_social {
    padding: 8rem 8rem;
  }
  .socialHeader {
    font-size: 48px;
    padding-inline: 5rem;
  }


}
