@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap');

:root {
    --clr-bg: #014e56;
    --clr-bg-light: #2c6269;
    --clr-bg-dark: #002529;
    --clr-accent: #f67e7e;
    --clr-text: white;
    --clr-text-gray: #98a7a9;
    --clr-border: #3c777d
}
* {
    font-family: 'Livvic', sans-serif;
}
html,body {
    box-sizing: border-box;
}

body {
    background-color: var(--clr-bg);
    margin: 0;
}